/* === General styles === */

*{-webkit-tap-highlight-color: transparent;}

.block {
  //border: solid 1px red;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.5s;
  box-sizing: border-box;
}
body{
  margin: 0;
}











/* === Element's images === */






/*== bar-show elements only==*/
.element{
  display: none;
}




/*== full scene elements==*/



/*===animation===*/




/*===Keyframes animation==*/


    
  
 